# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\md2\MD3-Bt1-css\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
